<div id="footer">
  <div class="container">
    <nav>
      <div class="column">
        <h4 class="title">Links</h4>
        <ul>
          <li><a href="">Test</a></li>
        </ul>
      </div>
      <div class="column social">
        <h4 class="title">Social</h4>
        <ul>
          <li><a href="https://facebook.com/instituto.macle" target=_blank>
            <img src="https://cdn.cdnlogo.com/logos/f/83/facebook.svg" alt="facebook" width="28" height="28" loading="lazy">
          </a></li>
          <li><a href="https://twitter.com/institutoMacle" target=_blank>
            <img src="https://cdn.cdnlogo.com/logos/t/96/twitter-icon.svg" alt="twitter" width="28" height="28" loading="lazy">
          </a></li>
          <li><a href="https://instagram.com/instituto.macle" target=_blank>
            <img src="https://cdn.cdnlogo.com/logos/i/4/instagram.svg" alt="instagram" width="28" height="28" loading="lazy"></a>
          </a></li>
          <li><a href="https://youtube.com/@institutomacleidiomas" target=_blank>
            <img src="https://cdn.cdnlogo.com/logos/y/84/youtube.svg" alt="youtube" width="28" height="28" loading="lazy"></a>
          </a></li>
          <li><a href="https://www.linkedin.com/company/instituto-macle/ " target=_blank>
            <img src="https://cdn.cdnlogo.com/logos/l/78/linkedin-icon.svg" alt="linkedin" width="28" height="28" loading="lazy"></a>
          </a></li>
        </ul>
      </div>
      <div class="column copyrights">
      <p>
        <b>© monalisacafe.com</b> <br>
        All rights reserved
      </p>
    </div>
    <div style="clear:both;"></div>
    </nav>
  </div>
</div>