<div id="intro" class="section">
  <div class="container centered">
    <p>{% t intro %}</p>
      
    <ul>
      <li><img src="./assets/images/intro1.jpg" alt="Exterior del café"  /></li>
      <li><img src="./assets/images/intro2.jpg" alt="Un delicioso café"  /></li>
      <li><img src="./assets/images/intro3.jpg" alt="Intérior del café"  /></li>
    </ul>

    <!-- <div id="nanogallery2">
        <a href = "intro1.jpg"   data-ngThumb = "intro1.jpg" ></a>
        <a href = "intro2.jpg"   data-ngThumb = "intro2.jpg" ></a>
        <a href = "intro3.jpg"   data-ngThumb = "intro3.jpg" ></a>
    </div> -->
      
  </div>
</div>