<div class="languages">
    <ul>
    {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url }}{% endcapture %}
    {% capture link_es %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
    {% capture current_lang_id %}{{site.translations[site.lang].global.current_lang_id}}{% endcapture %}
    <li><a href="{{ link_es }}" {% if current_lang_id == 'es' %}class="selected"{% endif %}>🇲🇽</a></li>
    <li><a href="{{ link_en }}" {% if current_lang_id == 'en' %}class="selected"{% endif %}>🇺🇸</a></li>
    </ul>
</div>