<div class="languages">
    <div class="selected-language" onclick="toggleLanguageMenu()">
      {{ site.translations[site.lang].global.current_lang_flag }}
    </div>
    <ul id="language-menu">
      {% for lang in site.translations %}
        {% if lang[1].global.current_lang_id != site.lang %}
          <li>
            <a href="{{ site.baseurl_root }}{{ lang[1].global.lang_uri }}{{ page.url }}">
              {{ lang[1].global.current_lang_flag }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  
  <script>
    function toggleLanguageMenu() {
      var menu = document.getElementById("language-menu");
      menu.classList.toggle("show");
    }
  </script>