<div id="menu" class="section">
  <div class="container">
    <h2 class="centered">{% t menu.title %}</h2>
    
    <div class='row'>
      <div class='column centered'>
        <a href="./assets/images/menu.pdf" aria-label="Nuestro menu" target="_blank">
          <img class="menu" src="./assets/images/menu_thumb.jpg" alt="Menu thumb" />
        </a>
      </div>
      <div class='column centered'>

        <table>
        {% for item in site.translations[site.lang].menu.schedule %}
            <tr class="{% cycle 'odd', 'even' %}"><td class="days">{{ item.day }}</td><td class="hours">{{ item.hours }}</td></tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>