<div id="review-toast" class="toast">
    <div class="toast-content">
        <img src="/assets/images/toast_review.png" alt="Cafe love"/>
        <p class="toast-text" onclick="showReviewPopup()">{% t review_popup.toast %}</p>
        <button onclick="dismissReviewToast()" class="close-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
</div>

<div id="review-popup" class="popup hidden">
    <div class="popup-content">
        <div class="popup-header">
            <h2>{% t review_popup.title %}</h2>
            <button onclick="closeReviewPopup()" class="close-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
        <img src="/assets/images/cafe_love.png" alt="Cafe love" />
        <div class="popup-body">
            <ol>
                <li>{% t review_popup.action_1 %}</li>
                <li>{% t review_popup.action_2 %}</li>
                <li>{% t review_popup.action_3 %}</li>
            </ol>
            
        </div>
        <div class="popup-footer">
            <button onclick="window.open('https://bit.ly/monalisa_review', '_blank'); closeReviewPopup();" class="review-button">{% t review_popup.button %}</button>
        </div>
        <small>{% t review_popup.note %}</small>
    </div>
</div>