<div id="top">
  <div class="container">
    <div class="front"></div>
  </div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <use id="wave" xlink:href="#gentle-wave" x="0" y="0" />
  </svg>
</div>

<script>
  var e=[];var a=1e3;var t=false;var r=document.querySelector(".front");var i=getComputedStyle(r).backgroundImage;var s="{{ '/assets/images/moaning.png' | relative_url }}";r.addEventListener("click",function(){e.push((new Date).getTime());if(e.length>=3){if(e[e.length-1]-e[e.length-3]<=a){if(t){this.style.backgroundImage=i;t=false}else{this.style.backgroundImage='url("'+s+'")';t=true}e=[]}e.shift()}});
</script>