html {

  background: $background;

  body {
    overflow-x: hidden;
    height: 100%;
    color: $font-primary;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    h1, h2 {
      font-family: 'Atteron', serif;
      color: $font-primary;
    }

    h1 {
      font-size: 2.8rem;
      padding: 3rem 0;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 1.5;
      padding: 2rem 0;

      i {
        font-family: Baskerville;
      }
    }

    p, li, td {
      color: $font-secondary;
      font-size: 1.3rem;
      line-height: 1.5;
      padding: 1rem 0;
    }

    a {
      -webkit-transition: all 0.3s;
      text-decoration: none;
      transition: color 250ms;

      &:hover {
        transition: all 0.3s;
        opacity: 0.7;
      }
    }
  }
}

.flipHorizontal {
  transform:scale(-1, 1);
  display: inline-block;
}

.wrapper {
  overflow-x: hidden;
}

.section {
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 1.25rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 0!important;
  padding: 1rem;
}

.centered {
  text-align: center;
  margin: auto;
}

#top {
  position: relative;
  text-align: center;
  background-color: $secondary;
  padding: 4rem 0 0;
  margin-bottom: 2rem;

  .front {
    width: auto;
    height: 330px;
    background: url("./assets/images/monalisa_b.png") no-repeat center / contain;
    margin-bottom: 4rem;
    opacity: 0.7;
  }

  .waves {
    height: 70px;
    width: 100%;
    z-index:1;
    margin-bottom: -10px;
  
    #wave {
      fill: $background;
    }
  }  
}

#intro {
  ul {
    padding: 3rem 0 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  ul li {
    display: inline;
    padding: 1.2rem;
  }

  ul li img {
    width : 260px;
    height: 260px;
    border-radius: 10px;
    
  }

}

#menu {
  img.menu {
    width: 225px;
    height: 310px;
    border-radius: 6px;
    border-width: 6px;
    border-color: lighten($background, 4%);
    border-style: solid;
  }

  table {
    margin: 0 2rem;
  }

  tr.even {
    background-color: lighten($background, 4%);
    border-radius: 10px;
  }

  td {
    padding: 0;
    white-space:nowrap;
    padding: 0.4rem 0.6rem;
  }

  td.days {
    border-radius: 10px 0 0 10px;
    width: 100%;
    padding-right: 1rem;
  }

  td.hours {
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    white-space:nowrap;
  }
  
}



footer {
  color: #9a9da9;
  font-size: 1rem;
  line-height: 1.25;
  flex: 0 0 auto;
  overflow: hidden;
  padding: 4rem 0 2rem;
  text-align: center;
  position: relative;
  z-index: 30;
}

@media (max-width: 800px) {
  .container {
    padding: 0.5rem;
  }

  .row {
    flex-direction: column;
  }

  .column {
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  #menu table {
    margin: 0;
  }
}
