.languages {
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    position: absolute;
    right: 1.2rem;
    margin-top: 1.2rem;
    display: inline;
    z-index: 1000;
    cursor: pointer;
  }
  
  .languages .selected-language {
    cursor: pointer;
    background-color: white;
    font-size: 2rem;
    width:48px;
    height: 48px;
    padding:4px 0 0 8px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .languages #language-menu {
    cursor: pointer;
    position: absolute;
    top: 100%;
    margin:10px 0 0 -10px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-height: 0; /* Initially hide the menu */
    transition: max-height 0.3s ease-out; /* Add transition for smooth animation */
  }
  
  .languages #language-menu.show {
    max-height: 200px; /* Adjust the max-height value as needed */
  }
  
  .languages #language-menu li {
    font-size: 2rem;
    list-style: none;
    padding: 0 8px;
  }
  
  .languages #language-menu li a {
    display: block;
    padding: 4px 10px;
    text-decoration: none;
  }
  
  @media (min-width: 768px) {
    .languages {
      right: 4rem;
    }
  }