

.languages {
    font-family: 'DM Sans', sans-serif;
    position:absolute;
    right: 0.8rem;
    top: 0.8rem;
    display: inline;
    z-index: 100;
}

.languages .selected-language {
    font-size: 2rem;
    padding: 8px 16px;
    cursor: pointer;
}

.languages #language-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    border-radius: 10px;
}

.languages #language-menu.show {
    display: block;
}

.languages #language-menu li {
    font-size: 2rem;
    list-style: none;
    padding:0 8px;

    &.hide-language {
        display:none
    }
}

.languages #language-menu li a {
    display: block;
    padding: 4px 10px;
    text-decoration: none;
}


@media (min-width: 768px) {
    .languages {
        right: 4rem;
    }
}