<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Menu</title>
    <link rel="stylesheet" href="{{ " /menu_print.css" | prepend: site.baseurl_root }}" />
  </head>

  <body>

    <div id="dimensionsDisplay"></div>

    {% include overlay.html %}

    {% include languages.html %}

    <div id="wrapper">

      <div id="header">

        <div class="center-flex">
          <a class="header-link" href="./index.html">
            <img class="header-img" src="{{ site.baseurl_root }}/assets/images/monalisa_b.png">
          </a>
        </div>

      </div>

      <div id="content">

        <!-- <p class="intro">{% t intro %}</p> -->

        {% for section in site.translations[site.lang].menu_sections limit: 5 %}
          <h2 class="section-title">{{ section.section_name }}</h2>

          {% if section.description %}
            <div class="section-description">{{ section.description }}</div>
          {% endif %}

          <div class="grid md:grid-cols-{{ section.columns }}">

            {% for item in section.menu_items %}
              <div class="card">
                <div class="infos">
                  <div class="title">
                    <p>{{ item.name }}
                      <span class="font-semibold text-base"></span>
                    </p>
                    {% if item.price %}
                      <div class="dots">&nbsp;</div>
                    {% endif %}
                    <p>{{ item.price }}</p>
                  </div>
                  <p class="small-text">{{ item.description }}</p>

                  {% if item.options %}
                    <ul class="option-list">
                      {% for option in item.options %}
                        <li class="option">{{ option.option_name }} ({{ option.option_price }})</li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                  {% if item.choices %}
                    <ul class="choice-list">
                      {% for choice in item.choices %}
                        <li class="choice">
                          <p>{{ choice.choice_name }}</p>
                          <div class="dots">&nbsp;</div>
                          <b>{{ choice.choice_price }}</b>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                {% if item.image %}
                  <div class="image">
                    <img src="/assets/images/menu/{{ item.image }}" />
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}

      </div>

      <div id="footer">
        <p>{% t menu.recommendations %}</p>
      </div>
    </div>

  </body>


  <!-- <script>
    function updateDimensionsDisplay() {
        var pageWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        var pageHeight = pageWidth * (1398.0 / 1080.0);

        // Set the body height to be 2 times the width
        document.body.style.height = pageHeight + 'px';

        // Get the dimensions display element
        var dimensionsDisplay = document.getElementById('dimensionsDisplay');

        // Update its content
        dimensionsDisplay.innerHTML = "Width: " + pageWidth + "px<br>Total Height: " + pageHeight + "px";
    }

    // Attach the event listener to the window's resize event
    window.addEventListener('resize', updateDimensionsDisplay);

    // Call the function initially to update the dimensions on load
    updateDimensionsDisplay();
  </script> -->

</html>
