<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/menu.css" | prepend: site.baseurl_root }}"/>
</head>

<body class="md:p-12">

    <div id="overlay">
        <div class="leave1" data-sr-id="2"></div>
        <div class="leave2" data-sr-id="3"></div>
        <div class="leave3" data-sr-id="4"></div>
        <div class="leave4" data-sr-id="5"></div>
        <div class="leave5" data-sr-id="6"></div>
    </div>

    <div id="header">

        <div class="flex items-center justify-center">
            <div class="w-60 h-72" style="background:url('{{ site.baseurl_root }}/assets/images/monalisa_b.png') no-repeat center/contain; opacity: 0.6;">
            </div>
        </div>
        {% include languages.html %}
    </div>

    <div id="content">

        {% for section in site.translations[site.lang].menu_sections %}
        <h2 class="mt-8 text-center">{{ section.section_name }}</h2>
        <div class="mx-auto grid md:grid-cols-{{ section.columns }} gap-4">
        
            {% for item in section.menu_items %}
            <div>
                <div class="p-4">
                    <div class="title flex justify-between items-center text-xl ">
                    <p>{{ item.name }} <span class="font-semibold text-base"></span></p>
                    {% if item.price %}
                    <div class="dots flex-grow border-solid border-b-2 border-black border-dotted border-bottom border-opacity-50">&nbsp;</div>
                    {% endif %}
                    <p>{{ item.price }}</p>
                    </div>
                    <p class="text-xs my-2">{{ item.description }}</p>

                    {% if item.options %}
                    <ul class="flex mt-2 space-x-2 text-sm">
                        {% for option in item.options %}
                        <li class="border border-black border-opacity-50 p-1 rounded">{{ option.option_name }} ({{ option.option_price }})</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if item.choices %}
                    <ul class="text-base "">
                        {% for choice in item.choices %}
                        <li class="flex justify-between items-center">
                            <p>{{ choice.choice_name }}</p>
                            <div class="dots flex-grow border-solid border-b-2 border-black border-dotted border-bottom border-opacity-50">&nbsp;</div>
                            <span>{{ choice.choice_price }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>

</body>
</html>